/*自定义layer样式*/
.layui-layer-title {
  background: #2c3e50!important;
  color: #fff!important;
}
.layui-layer-noborder {
  border: none!important;
  box-shadow: 1px 1px 50px rgba(0, 0, 0, 0.3) !important;
}
.layui-layer-moves {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.layui-layer-iframe {
  overflow: hidden!important;
}
.layui-layer-iframe .layui-layer-content {
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden!important;
  overflow: hidden;
}
/*自定义layer弹窗格式*/
.layui-layer-btn {
  text-align: center!important;
  padding: 10px!important;
  background: #ecf0f1;
}
.layui-layer-footer {
  padding: 8px 20px;
  background-color: #ecf0f1;
  height: auto;
  text-align: inherit!important;
}
.layui-layer-btn a {
  background-color: #95a5a6!important;
  border-color: #95a5a6!important;
  color: #fff!important;
}
.layui-layer-btn .layui-layer-btn0 {
  background-color: #4898d5!important;
  border-color: #2e8ded!important;
}

.layui-layer-setwin {
  top: 10px!important;
}
.layui-layer-setwin > a {
  background: none!important;
}
.layui-layer-setwin > a cite {
  display: none;
}
.layui-layer-setwin > a:after {
  content: "\e629";
  font-family: iconfont;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  position: absolute;
  font-size: 18px;
  color: #fff;
  margin: 0;
  z-index: 1;
}
.layui-layer-setwin > a:hover {
  text-decoration: none!important;
  background: none!important;
}
.layui-layer-setwin > a:focus {
  text-decoration: none!important;
}
.layui-layer-setwin .layui-layer-min:after {
  content: "\e629";
}
.layui-layer-setwin .layui-layer-max:after {
  content: "\e600";
}
.layui-layer-setwin .layui-layer-close1:after {
  content: "\e62b";
}
.layui-layer-setwin .layui-layer-close2,

.layui-layer-setwin .layui-layer-close2:after,
.layui-layer-setwin .layui-layer-close2:hover:after {
  vertical-align: middle;
}
